/02-Igniting-our-app/node_modules
/02-Igniting-our-app/.parcel-cache
/02-Igniting-our-app/dist

/03-laying-the-foundation/node_modules
/03-laying-the-foundation/.parcel-cache
/03-laying-the-foundation/dist