/02-Igniting-our-app/node_modules
/02-Igniting-our-app/.parcel-cache
/02-Igniting-our-app/dist

/03-laying-the-foundation/node_modules
/03-laying-the-foundation/.parcel-cache
/03-laying-the-foundation/dist

/04-talk-is-cheap-show-me-your-code!/node_modules
/04-talk-is-cheap-show-me-your-code!/.parcel-cache
/04-talk-is-cheap-show-me-your-code!/dist

/05-Let's-get-Hooked/node_modules
/05-Let's-get-Hooked/.parcel-cache
/05-Let's-get-Hooked/dist

/06-Exploring-the-world/node_modules
/06-Exploring-the-world/.parcel-cache
/06-Exploring-the-world/dist